apps/api/src/assets
/node_modules/
/dist/
/tmp/

.angular
/apps/berry-store/ios/
/apps/berry-store/android/
/libs/api/endpoints/src/lib/berries/localBerriesList.json
/localBerriesList.json
/localLocationsList.json
